doctype html(lang='en')
head
	meta(charset='utf-8')  
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='')
	meta(name='author', content='')
	title Vulnerability Vizualization
	// Bootstrap Core CSS
	link(href='css/bootstrap.min.css', rel='stylesheet')
	link(href='css/flat-ui.min.css', rel='stylesheet')
	link(href='css/animate.css', rel='stylesheet')
	// Custom Fonts
	link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
	link(href='css/main.css', rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lato:300,700,900' rel='stylesheet' type='text/css')
	
	block styles

	// More Custom CSS

	// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	// WARNING: Respond.js doesn't work if you view the page via file://
body

	// Navbar
	nav.navbar.navbar-inverse.navbar-embossed(role='navigation')
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
				span.sr-only Toggle navigation
			a.navbar-brand(href='/') Vulnerability Vizualization
		#navbar-collapse-01.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/about') About

	// Content
	block content

	// jQuery
	script(src='js/jquery.js')
	// Bootstrap Core JavaScript
	script(src='js/bootstrap.min.js')
	script(src='js/flat-ui.min.js')
	
	block scripts

	script(src='js/main.js')
